/* body, html {
  background-image: url("https://i.imgur.com/K4jLymZ.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
 } */

 .card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  float: 'right';
}

 .card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
p {
  margin: 0;
  font-family: Sans-serif;
}
body{
  height: 100%;
  margin-Top: 0px;
  overflow-x: hidden;
}

.haloImage {
    background-image: url('./Images/halo.jpg');
    background-size: 350px 350px;
    background-repeat: no-repeat;

   
}

.squadImage {
    background-image: url('./Images/squad.jpg');
    background-size: 350px 350px;
    background-repeat: no-repeat;

    
}

.rainbowImage {
    
    background-image: url('./Images/rainbow.jpg');
    background-size: 350px 350px;

    background-repeat: no-repeat;
    
}

.plugcard {
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    transition: 0.5s;
    border: 5px solid #2E2E2E;
    border-radius: 12px;
}

.plugcard div {
    background-color: rgba(51,51,51,0.9);
    width: 350px;
    height: 350px;
    opacity: 0;
    border-radius: 5px;
    transition: 0.5s ;
}

.rainbowImage:hover div, .squadImage:hover div, .haloImage:hover div {
    opacity: 1;
    transition: 0.5s ; 
}


.blob {
	background: #2E2E2E;
	border-radius: 50%;
	margin: 100px;
	height: 200px;
	width: 200px;
}

.blob {
	background: #2E2E2E;
	border-radius: 50%;
	margin: 10px;
	height: 200px;
	width: 200px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}